/*element样式*/
/*按钮*/
.about-icon-btn {
  padding: 12px 30px 12px 70px;
  background: #619e16;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  position: relative;
}
.about-icon-btn:hover {
  text-decoration: underline;
  color: #fff;
}
.left-border {
  border-left: 1px solid #e7eaec;
}
.about-reg {
  position: absolute;
  left: 30px;
  top: 12px;
  width: 25px;
  height: 25px;
  background-position: 0px -181px;
}
.about-financial {
  position: absolute;
  left: 30px;
  width: 26px;
  height: 26px;
  background-position: -32px -181px;
}
.about-report {
  position: absolute;
  left: 5px;
  width: 35px;
  height: 35px;
  background-position: -118px -139px;
}
.about-report-btn {
  padding: 12px 30px 12px 50px;
  color: #619e16;
  position: relative;
  line-height: 34px;
}
.about-reg-box {
  height: 50px;
}
.one-nav {
  border-top: 1px solid #d3d3d3;
}
.one-nav a {
  width: 100%;
  display: block;
  text-indent: 34%;
  border-bottom: 1px solid #f2f2f2;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
}
.one-nav a.current {
  background: #f6f6f6;
  width: 100%;
  display: block;
  padding: 10px 0px;
  text-indent: 25%;
  font-size: 16px;
}
.one-nav a.current:hover .current-icon {
  background-position: -162px 0;
}
.one-nav .current-icon {
  background-position: -137px 0;
}
.one-nav .sub-menu a {
  width: 100%;
  display: block;
  text-indent: 30%;
  border-bottom: 1px solid #f2f2f2;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
}
.one-nav .sub-menu i {
  background-position: -182px 0px;
  margin-top: 3px;
}
#pg-one .login-input {
  width: 310px;
  padding: 12px 5px;
  height: 21px;
}
#pg-one .login-code {
  width: 100px;
  padding: 8px 5px;
}
#pg-one .login-user-icon {
  right: 0px;
  top: 1px;
  width: 50px;
  height: 45px;
}
#pg-one .i-username {
  background-position: -206px -130px;
}
#pg-one .i-psw {
  background-position: -156px -130px;
}
#pg-one .i-reg-mail {
  background-position: -256px -130px;
}
#pg-one .i-fresh {
  background-position: -57px -27px;
}
#pg-one .i-safe {
  background-position: -204px 0px;
}
#pg-one .login-submit {
  width: 322px;
  padding: 11px 5px;
  border-radius: 3px;
}
#pg-one .step-icon {
  position: relative;
}
#pg-one .step-1 {
  position: relative;
  height: 70px;
  width: 33%;
  float: left;
}
#pg-one .step-2 {
  position: relative;
  height: 70px;
  width: 33%;
  float: left;
}
#pg-one .step-3 {
  position: relative;
  height: 70px;
  width: 33%;
  float: left;
}
#pg-one .step-icon .iconfont {
  font-size: 30px;
  position: absolute;
  background-position: -231px -53px;
  height: 58px;
  width: 58px;
  z-index: 1;
  text-indent: 0px;
  line-height: 58px;
  text-align: center;
  font-style: normal;
  font-weight: bolder;
  color: #858585;
}
#pg-one .step-icon .number {
  font-size: 30px;
  position: absolute;
  background-position: -293px -63px;
  height: 48px;
  width: 48px;
  z-index: 2;
  margin-top: 5px;
  margin-left: 5px;
  color: #fff;
  line-height: 48px;
  text-align: center;
  font-style: normal;
  text-indent: 0px;
  font-weight: bolder;
}
#pg-one .step-icon .step-text {
  height: 20px;
  line-height: 20px;
  position: relative;
  text-shadow: 0 1px 0 #fff;
  top: 70px;
  left: -15px;
}
#pg-one .step-line {
  height: 15px;
  background: #dadada;
  display: block;
  margin-top: 8px;
  line-height: 1;
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 15px;
  left: 3px;
}
#pg-one .step-2 .step-icon {
  left: 40%;
}
#pg-one .step-3 .step-icon {
  left: 80%;
}
#pg-one .step-3 .step-line {
  width: 95%;
}
#reg-form .reg-user-icon {
  left: 405px;
  top: 1px;
  width: 50px;
  height: 44px;
}
#pg-one .news-content p {
  line-height: 28px;
  text-indent: 2em;
  margin-bottom: 10px;
}
.tab-list {
  height: 36px;
  border-bottom: 4px solid #5cad22;
}
.tab-item {
  display: inline-block;
  float: left;
  line-height: 36px;
}
.tab-item a {
  cursor: pointer;
  padding: 0 25px;
}
.tab-item.current {
  background: #5cad22;
}
.tab-item.current a {
  color: #fff;
}
/*自动补全*/
#AutoComplete {
  background: #fff;
  border: 1px solid #4190db;
  display: none;
  width: 320px;
}
#AutoComplete ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#AutoComplete li {
  color: #333;
  cursor: pointer;
  text-indent: 5px;
  height: 30px;
  line-height: 30px;
}
#AutoComplete .hover {
  background: #6eb6fe;
  color: #fff;
}
/*我要投资*/
.pg-guide-gray {
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
}
.pg-guide-invest-banner {
  background: #ff8315;
}
.pg-guide-borrow-banner {
  background: #85ca6f;
}
.pg-guide-safe-banner {
  background-image: url(../img/banner/guide-safe-banner.jpg);
  background-position: 50% 0%;
  background-repeat: no-repeat no-repeat;
  width: 100%;
  height: 270px;
}
.pg-problem-safe-banner {
  background-image: url(../img/banner/problem-safe-banner.jpg);
  background-position: 50% 0%;
  background-repeat: no-repeat no-repeat;
  width: 100%;
  height: 270px;
}
.i-safe-point {
  width: 20px;
  background-position: -273px 0;
}
.i-safe-aq {
  background-position: -134px -26px;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
/*股东概括*/
.people-list {
  width: 154px;
  float: left;
}
.people-list-item:hover,
.people-list-item.current {
  background: #f7f7f7;
  cursor: pointer;
}
.people-list-item {
  width: 100%;
  height: 53px;
  margin-bottom: 7px;
}
.people-list-item-img {
  width: 46px;
  height: 53px;
  float: left;
}
.people-list-item-title {
  width: 90px;
  height: 17px;
  float: left;
  padding: 5px 0 0 10px;
}
.people-txt {
  float: left;
  width: 450px;
  background: #f7f7f7;
}
.people-txt-item-title {
  width: 390px;
  height: 22px;
  float: left;
  padding: 7px 0 0 10px;
  text-align: right;
}
.people-txt-item-img {
  width: 130px;
  height: 153px;
  float: right;
  margin-right: 20px;
  border-right: 2px solid #cacaca;
  border-bottom: 2px solid #cacaca;
}
.people-txt-item-title.mt100 {
  margin-top: 100px;
}
#portamento_container {
  float: left;
  position: relative;
}
.guide-nav .current {
  font-weight: bolder;
}
/*帮助中心*/
.help-nav-list a {
  margin-left: -1px;
  background: #f3f3f3;
  float: left;
  color: #999;
  font-size: 14px;
  line-height: 24px;
  padding: 0 10px;
  border: 1px solid #eee;
  zoom: 1;
}
.help-nav-list a.current,
.help-nav-list a:hover {
  color: #fff;
  background: #619e16;
  border: 1px solid #619e16;
}
.news-list .down {
  background-position: -342px 0;
  width: 16px;
  height: 16px;
  margin-top: 17px;
  margin-left: 10px;
}
.news-list .up {
  background-position: -361px 0;
  width: 16px;
  height: 16px;
  margin-top: 17px;
  margin-left: 10px;
  display: none;
}
.news-list .help-news-text {
  width: 98%;
}
