html {
  background: #f0f4f7;
  color: #4c4c4c;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}
body,
input,
textarea,
button,
select,
pre,
tt,
code,
kbd,
samp,
optgroup,
option {
  line-height: 1.5;
  font-family: 'Microsoft YaHei', arial, 'Hiragino Sans GB', '\5fae\8f6f\96c5\9ed1', '\5b8b\4f53', arial, verdana, helvetica, sans-serif;
}
body,
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td,
pre,
xmp {
  margin: 0;
  padding: 0;
  font-weight: 100;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}
caption,
th {
  text-align: inherit;
}
ul,
ol,
menu {
  list-style: none;
}
fieldset,
img {
  border: none;
}
img,
object,
input,
textarea,
button,
select {
  vertical-align: top;
}
article,
aside,
footer,
header,
section,
nav,
figure,
figcaption,
hgroup,
details,
menu {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
button,
select,
small {
  font-size: 100%;
}
address,
cite,
dfn,
em,
i,
optgroup,
var {
  font-style: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}
textarea {
  overflow: auto;
  resize: none;
}
textarea,
input {
  outline: none;
}
mark {
  background-color: #f24846;
}
ins,
s,
u,
del {
  text-decoration: none;
}
a {
  color: #4c4c4c;
  text-decoration: none;
  outline: none;
}
a:hover {
  color: #f24846;
  text-decoration: none;
}
button {
  border: 0 none;
}
input[disabled] {
  background: #ececec;
  color: #cccccc;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #aaaaaa;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #aaaaaa;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #aaaaaa;
}
::-ms-reveal {
  display: none;
}
:focus {
  -moz-outline-style: none;
}
button::-moz-focus-inner {
  border: none;
}
button:focus {
  outline-style: none;
}
/* for Firefox，IE8.0等 */
/*清除浮动*/
.hidden {
  overflow: hidden;
}
/*
*主体框架样式
*
*/
.box .header {
  background-color: #fff;
}
.box .header .topbar {
  width: auto;
  height: 40px;
  background-color: #525252;
  font-size: 16px;
}
.box .header .topbar .warp {
  width: 1132px;
  height: 40px;
  margin: 0px auto;
  *zoom: 1;
}
.box .header .topbar .warp:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.box .header .topbar .warp .l {
  float: left;
}
.box .header .topbar .warp .l a {
  display: inline-block;
  width: auto;
  height: 40px;
  line-height: 40px;
  color: #f24846;
  margin-right: 20px;
}
.box .header .topbar .warp .l a.reg {
  color: #ffffff;
}
.box .header .topbar .warp .l span {
  color: #ffffff;
}
.box .header .topbar .warp .r {
  float: right;
}
.box .header .topbar .warp .r a {
  color: #999999;
  line-height: 40px;
  display: inline-block;
  padding-left: 46px;
}
.box .header .topbar .warp .r a:hover {
  color: #f24846;
}
.box .header .head {
  display: block;
  font-size: 18px;
}
.box .header .head .warp {
  width: 1132px;
  height: 70px;
  margin: 0px auto;
  *zoom: 1;
}
.box .header .head .warp:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.box .header .head .warp .logobox {
  width: auto;
  height: 70px;
  float: left;
  margin-left: -5px;
}
.box .header .head .warp .logobox a img {
  height: 70px;
}
.box .header .head .warp ul {
  *zoom: 1;
}
.box .header .head .warp ul:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.box .header .head .warp ul.nav {
  float: right;
  margin-top: 15px;
  margin-right: -28px;
}
.box .header .head .warp ul li {
  line-height: 50px;
  float: left;
}
.box .header .head .warp ul li a {
  display: block;
  width: 120px;
  text-align: center;
  border-bottom: 5px solid  #fff;
}
.box .header .head .warp ul li a:hover {
  border-color: #f24846;
}
.box .header .head .warp ul li.on a {
  color: #f24846;
  border-color: #f24846;
}
.box .container {
  min-height: 500px;
}
.box .footer {
  background-color: #525252;
}
.box .footer .warp {
  width: 1132px;
  margin: 0px auto;
  overflow: hidden;
  color: #999999;
  font-size: 14px;
}
.box .footer .warp a {
  color: #999999;
}
.box .footer .warp a:hover {
  color: #f24846;
}
.box .footer .warp h2 {
  font-size: 16px;
  font-weight: 100;
}
.box .footer .warp .top {
  width: 1162px;
  border-bottom: 1px solid #7e7e7e;
  padding: 10px 0px;
  *zoom: 1;
}
.box .footer .warp .top:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.box .footer .warp .top .l {
  display: inline-block;
  float: left;
  width: 102px;
}
.box .footer .warp .top .r {
  display: inline-block;
  width: 1042px;
  float: left;
  *zoom: 1;
}
.box .footer .warp .top .r:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.box .footer .warp .top .r a {
  display: inline-block;
  padding: 0px 10px;
  line-height: 30px;
}
.box .footer .warp .top.mid .tops {
  *zoom: 1;
}
.box .footer .warp .top.mid .tops:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.box .footer .warp .top.mid h2 {
  line-height: 54px;
}
.box .footer .warp .top.mid .r a {
  padding: 0px 20px 0px 0px;
}
.box .footer .warp .top.mid .r a img {
  height: 54px;
}
.box .footer .warp .banq {
  text-align: center;
  line-height: 40px;
}
/*过渡样式*/
a {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.underline {
  text-decoration: underline;
}
.underline:hover {
  text-decoration: underline;
}
.xinghao {
  color: #f24846;
}
input.text {
  width: 160px;
  border: 1px solid #dddddd;
  height: 34px;
  padding: 0px 10px;
}
input.time {
  width: 120px;
  border: 1px solid #dddddd;
  height: 34px;
  padding: 0px 10px;
  background: url('../images/ico.png') no-repeat right -113px;
}
input.subBut {
  display: inline-block;
  background: #f24846;
  line-height: 35px;
  padding: 0px 20px;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
input.subBut:hover {
  background: #ef1916;
}
input.retBut {
  display: inline-block;
  background: #39b6e4;
  line-height: 35px;
  padding: 0px 20px;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
input.retBut:hover {
  background: #1c9ece;
}
.bottonbox {
  margin-top: 10px;
  padding: 20px 0px;
  text-align: center;
}
.bottonbox.subBut {
  display: inline-block;
  background: #f24846;
  line-height: 35px;
  padding: 0px 20px;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
.bottonbox.subBut:hover {
  background: #ef1916;
}
.bottonbox.retBut {
  display: inline-block;
  margin-right: 10px;
  background: #39b6e4;
  line-height: 35px;
  padding: 0px 20px;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
.bottonbox.retBut:hover {
  background: #1c9ece;
}
/*信用等级*/
span.samllmark {
  font-size: 12px;
}
span.dj {
  width: 45px;
  height: 24px;
  background: #39b6e4;
  display: inline-block;
  text-align: center;
  line-height: 24px;
  font-size: 16px;
  color: #fff;
  border-radius: 12px;
}
span.e {
  background: #f24846;
}
/*ICO*/
.icobxo i {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #f5f5f5;
  margin-right: 20px;
  background-image: url('../images/ico.png');
  background-position: 0px -213px;
  cursor: pointer;
}
.icobxo i.tx {
  background-position: 0px -213px;
}
.icobxo i.tx:hover,
.icobxo i.tx.on {
  background-color: #c3e9ff;
  background-position: 0px -248px;
}
.icobxo i.suo {
  background-position: -35px -213px;
}
.icobxo i.suo:hover {
  background-color: #c3e9ff;
  background-position: -35px -248px;
}
.icobxo i.sj {
  background-position: -70px -213px;
}
.icobxo i.sj:hover {
  background-color: #c3e9ff;
  background-position: -70px -248px;
}
.icobxo i.xx {
  background-position: -105px -213px;
}
.icobxo i.xx:hover {
  background-color: #c3e9ff;
  background-position: -105px -248px;
}
.mbx {
  padding: 5px 25px;
}
.mbx a {
  color: #4c4c4c;
  padding: 0px 0px;
}
.mbx a:hover {
  color: #f24846;
}
/*
*主体框架样式
*/
/*头部样式*/
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}
.clear {
  clear: both;
}
.head-wrap {
  background: #fff;
}
.head-wrap .top-wrap {
  width: 1170px;
  margin: 0px auto;
}
.head-wrap .top-wrap .top-body {
  padding-top: 10px;
  font-size: 12px;
  *zoom: 1;
}
.head-wrap .top-wrap .top-body:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.head-wrap .top-wrap .top-body .top-login-status {
  float: left;
}
.head-wrap .top-wrap .top-body .top-login-status .welcome {
  line-height: 15px;
  height: 15px;
  vertical-align: bottom;
  width: 300px;
}
.head-wrap .top-wrap .top-body .top-login-status .welcome a {
  color: #333333;
  cursor: pointer;
}
.head-wrap .top-wrap .top-body .login-link {
  float: right;
  margin-right: 10px;
  *zoom: 1;
}
.head-wrap .top-wrap .top-body .login-link:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.head-wrap .top-wrap .top-body .login-link li {
  float: left;
  margin-left: 25px;
}
.head-wrap .top-wrap .top-body .login-link li a:hover {
  text-decoration: underline;
}
.head-wrap .head-body {
  *zoom: 1;
  position: relative;
}
.head-wrap .head-body:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.head-wrap .head-body .logo {
  float: left;
}
.head-wrap .head-body .logo-about {
  float: right;
  margin-top: 20px;
}
.head-wrap .head-body .slogin {
  font-size: 25px;
  float: left;
  margin-top: 51px;
  margin-left: 10px;
  font-weight: bold;
  color: #666;
  letter-spacing: 1px;
  font-family: '隶书';
}
.head-wrap .head-body .slogin span {
  color: #f35903;
}
.head-wrap .head-body .tel-400 {
  float: right;
  margin: 48px 5px 0 0;
  width: 250px;
  height: 37px;
  background: url(../images/400.jpg) no-repeat;
  position: relative;
}
.head-wrap .head-body .tel-400 span {
  display: block;
  font-size: 24px;
  font-weight: bold;
  color: #f35903;
  position: absolute;
  top: 4px;
  left: 48px;
  letter-spacing: -1px;
}
.head-wrap .nav-wrap {
  background: #f24846;
  width: 100%;
  height: 40px;
}
.head-wrap .nav-wrap .nav {
  height: 40px;
  width: 1170px;
  margin: 0 auto;
}
.head-wrap .nav-wrap .nav .menu {
  height: 40px;
  z-index: 99;
}
.head-wrap .nav-wrap .nav .menu ul {
  width: 100%;
}
.head-wrap .nav-wrap .nav .menu ul li {
  float: left;
  width: 100px;
  line-height: 40px;
  height: 40px;
  text-align: center;
  margin-right: 25px;
}
.head-wrap .nav-wrap .nav .menu ul .nLi {
  position: relative;
  margin-left: 5px;
}
.head-wrap .nav-wrap .nav .menu ul .nLi a {
  display: block;
  width: 100px;
  line-height: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  color: #FFF;
  text-decoration: none;
}
.head-wrap .nav-wrap .nav .menu ul .nLi a:hover {
  background: #f13a38;
}
.head-wrap .nav-wrap .nav .menu .sub {
  display: none;
  width: 100px;
  left: 0px;
  top: 40px;
  position: absolute;
  line-height: 40px;
  z-index: 999;
}
.head-wrap .nav-wrap .nav .menu .sub li {
  height: 40px;
  width: 100px;
  margin-top: 1px;
}
.head-wrap .nav-wrap .nav .menu .sub li a {
  display: block;
  width: 100px;
  height: 40px;
  background: #f24846;
  line-height: 40px;
  color: #fff;
  font-size: 14px;
}
.head-wrap .nav-wrap .nav .menu .sub li a:hover {
  background: #f13a38;
  color: #fff;
}
.foot {
  width: 100%;
  height: 180px;
  background: #15456f;
  margin-top: 15px;
  color: #FFF;
  font-size: 13px;
}
.foot .footer {
  width: 1170px;
  margin: 0px auto;
  padding-top: 20px;
  *zoom: 1;
}
.foot .footer a {
  color: #fff;
}
.foot .footer a:hover {
  color: #f67a00;
  text-decoration: underline;
}
.foot .footer span {
  color: #fff;
}
.foot .footer .footer-left-title {
  color: #fff;
}
.foot .footer:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.foot .footer .footer-left {
  float: left;
  width: 700px;
}
.foot .footer .footer-left .footer-left-title {
  margin-bottom: 10px;
  margin-right: 30px;
}
.foot .footer .footer-left .footer-left-ul-1 {
  *zoom: 1;
}
.foot .footer .footer-left .footer-left-ul-1:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.foot .footer .footer-left .footer-left-ul-1 li {
  float: left;
  width: 100px;
  height: 24px;
}
.foot .footer .footer-left .footer-about {
  margin-top: 20px;
  *zoom: 1;
}
.foot .footer .footer-left .footer-about:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.foot .footer .footer-left .footer-about li {
  float: left;
  width: 100px;
  height: 30px;
}
.foot .footer .footer-right {
  float: right;
  width: 460px;
}
.foot .footer .footer-right .footer-right-1 {
  *zoom: 1;
}
.foot .footer .footer-right .footer-right-1:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.foot .footer .footer-right .footer-right-1 li {
  float: left;
}
.foot .footer .footer-right .footer-right-1 li.footer-right-1-1 {
  width: 50px;
}
.foot .footer .footer-right .footer-right-1 li.footer-right-1-1 img {
  margin-top: 40px;
}
.foot .footer .footer-right .footer-right-1 li.footer-right-1-2 {
  width: 80px;
  text-align: center;
}
.foot .footer .footer-right .footer-right-1 li.footer-right-1-2 img {
  margin-top: 20px;
}
.foot .footer .footer-right .footer-right-1 li.footer-right-1-3 {
  width: 300px;
}
.foot .footer .footer-right .footer-right-1 li.footer-right-1-3 li {
  float: none;
  text-align: center;
}
.foot .footer .footer-right .footer-right-1 li.footer-right-1-3 li .text7 {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
}
.foot .footer .footer-right .footer-right-1 li.footer-right-1-3 li.footer-right-1-3-2 {
  margin: 20px 0;
}
.foot-bot {
  clear: both;
  width: 100%;
  height: 50px;
  background: #475058;
}
.foot-bot .foot-bot-img {
  margin: 0 auto;
  width: 1170px;
  padding: 5px;
  text-align: center;
  color: #fff;
  line-height: 40px;
  font-size: 12px;
}
.main {
  margin: 0 auto;
  width: 1170px;
  height: auto;
  min-height: 450px !important;
}
.main .main-1 {
  *zoom: 1;
}
.main .main-1:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.button-register {
  display: block;
  width: 300px;
  height: 40px;
  line-height: 40px;
  background: #f24846;
  color: #fff;
  font-size: 20px;
  text-align: center;
  margin: 20px auto 5px auto;
  border-radius: 4px;
  text-decoration: none !important;
}
.button-register:hover {
  color: #fff;
}
.text5 {
  font-size: 15px;
  color: #333;
  font-weight: bold;
}
.text6 {
  color: #999;
  padding-left: 30px;
}
/*element样式*/
/*按钮*/
/*
*2015
*个人中心
*zxd
*/
