/******************表单样式********************/
body {
  height: 100%;
}
.mb1 {
  margin-bottom: 0.8rem;
}
.body-content {
  background-image: url('../img/bg/banckground1.png');
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: box;
  -moz-box-align: center;
  -webkit-box-align: center;
  box-align: center;
  -moz-box-pack: center;
  -webkit-box-pack: center;
  box-pack: center;
  height: 100%;
}
.body-content .erweimabox {
  position: relative;
  width: 100%;
  background-size: cover;
  background-image: url('../img/bg/cardbg.png');
  background-color: rgba(212, 212, 212, 0.8);
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: box;
  -moz-box-align: center;
  -webkit-box-align: center;
  box-align: center;
  -moz-box-pack: center;
  -webkit-box-pack: center;
  box-pack: center;
  border-radius: 2.5rem;
}
.body-content .erweimabox .in {
  padding-top: 2.6rem;
  padding-bottom: 2.2rem;
  margin-top: 5.0rem;
  margin-bottom: 3.2rem;
  background-color: #ffffff;
  width: 85%;
  border-radius: 2.5rem;
  text-align: center;
}
.body-content .erweimabox .in p {
  padding: 0 1rem;
}
.body-content .erweimabox .in p.title {
  font-size: 1.6rem;
}
.body-content .erweimabox .in p span {
  color: #ff6527;
}
.body-content .erweimabox .in h2 {
  font-size: 2.4rem;
  color: #ff6527;
  margin-bottom: 2rem;
}
.body-content .erweimabox .in h2.mb0 {
  margin-bottom: 0px;
}
.body-content .erweimabox .in .bold {
  font-weight: bold;
  font-size: 2rem;
  padding-bottom: 1rem;
}
.body-content .erweimabox .in .bold.bigft {
  font-size: 2.4rem;
}
.body-content .erweimabox .in img {
  cursor: p
				display: block;
  width: 100%;
}
.body-content .erweimabox .in img.point {
  width: 70%;
  display: block;
  margin: 0 auto 1.5rem auto;
}
.erweimapicebox {
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: box;
  -moz-box-align: center;
  -webkit-box-align: center;
  box-align: center;
  -moz-box-pack: center;
  -webkit-box-pack: center;
  box-pack: center;
  margin: 1rem auto 1.5rem auto;
  padding: 1rem;
  width: 70%;
  position: relative;
}
.erweimapicebox .xiejiao {
  width: 1.4rem;
  height: 1.4rem;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
}
.erweimapicebox .xiejiao.rt {
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  border-left: none;
  right: 0px;
  left: auto;
}
.erweimapicebox .xiejiao.lb {
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-top: none;
  border-right: none;
  right: auto;
  left: 0;
  bottom: 0;
  top: auto;
}
.erweimapicebox .xiejiao.rb {
  border-bottom: 2px solid #ffffff;
  border-left: none;
  border-top: none;
  border-right: 2px solid #ffffff;
  right: 0;
  left: auto;
  bottom: 0;
  top: auto;
}
.text_left {
  text-align: left;
}
.guajian {
  width: 3rem;
  height: 1rem;
  position: absolute;
  background: #f0e7dc;
  border-radius: 0.5rem;
  margin-left: -1.5rem;
  left: 50%;
  top: 10px;
}
.guajian .line {
  width: 300px;
  height: 139px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  background-image: url('../img/bg//yaoshikou.png');
  top: -133px;
  left: -218px;
}
body > .warp {
  height: 100%;
  padding-bottom: 0rem;
}
