/******************表单样式********************/
body {
  height: 100%;
}
.body-content {
  background-image: url('../img/bg/banckground.png');
  background-size: cover;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: box;
  -moz-box-align: center;
  -webkit-box-align: center;
  box-align: center;
  -moz-box-pack: center;
  -webkit-box-pack: center;
  box-pack: center;
  height: 100%;
}
.body-content .erweimabox {
  width: 90%;
  background-color: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: box;
  -moz-box-align: center;
  -webkit-box-align: center;
  box-align: center;
  -moz-box-pack: center;
  -webkit-box-pack: center;
  box-pack: center;
  border-radius: 0.5rem;
}
.body-content .erweimabox .in {
  padding-top: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: rgba(255, 255, 255, 0.6);
  width: 90%;
  border-radius: 0.5rem;
  text-align: center;
  padding-bottom: 10px;
}
.body-content .erweimabox .in p {
  padding: 0 1rem;
}
.body-content .erweimabox .in p.title {
  font-size: 1.6rem;
}
.body-content .erweimabox .in p span {
  color: #ff6527;
}
.body-content .erweimabox .in .bold {
  font-weight: bold;
  font-size: 2rem;
  padding-bottom: 1rem;
}
.body-content .erweimabox .in .bold.bigft {
  font-size: 2.4rem;
}
.body-content .erweimabox .in img {
  display: block;
  width: 100%;
}
.body-content .erweimabox .in img.point {
  width: 70%;
  display: block;
  margin: 0 auto 1.5rem auto;
}
.erweimapicebox {
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: box;
  -moz-box-align: center;
  -webkit-box-align: center;
  box-align: center;
  -moz-box-pack: center;
  -webkit-box-pack: center;
  box-pack: center;
  margin: 1.5rem auto 3.5rem auto;
  padding: 1.5rem;
  width: 80%;
  position: relative;
}
.erweimapicebox .xiejiao {
  width: 1.4rem;
  height: 1.4rem;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top: 2px solid #fcfeff;
  border-left: 2px solid #fcfeff;
}
.erweimapicebox .xiejiao.rt {
  border-top: 2px solid #fcfeff;
  border-right: 2px solid #fcfeff;
  border-left: none;
  right: 0px;
  left: auto;
}
.erweimapicebox .xiejiao.lb {
  border-bottom: 2px solid #fcfeff;
  border-left: 2px solid #fcfeff;
  border-top: none;
  border-right: none;
  right: auto;
  left: 0;
  bottom: 0;
  top: auto;
}
.erweimapicebox .xiejiao.rb {
  border-bottom: 2px solid #fcfeff;
  border-left: none;
  border-top: none;
  border-right: 2px solid #fcfeff;
  right: 0;
  left: auto;
  bottom: 0;
  top: auto;
}
.text_left {
  text-align: left;
}
body > .warp {
  height: 100%;
  padding-bottom: 0rem;
}
