/*
*2015
*个人中心
*zxd
*/
body {
  background: #ffffff;
}
.header {
  box-shadow: 0px 1px 10px #c8c8c8;
}
.la-my {
  width: 1132px;
  margin: 0px auto;
  margin-top: 20px;
  *zoom: 1;
}
.la-my:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.la-my .myleft {
  float: left;
  width: 214px;
  overflow: hidden;
  margin-right: 7px;
}
.la-my .myright {
  float: left;
  width: 911px;
  overflow: hidden;
  margin-right: 0px;
}
.la-my {
  margin-bottom: 40px;
}
.la-my .myleft .index {
  height: 70px;
  text-align: center;
  background: #06ade1;
  color: #fff;
  display: block;
  line-height: 70px;
  border-radius: 3px 0px 0px 0px;
}
.la-my .myleft .list {
  border-radius: 0px 0px 0px 3px;
  border: 1px solid #eeeeee;
  border-top: none;
  overflow: hidden;
}
.la-my .myleft .list .navbtn {
  background: #fbfbfb;
  position: relative;
}
.la-my .myleft .list .navbtn i {
  display: block;
  width: 14px;
  height: 14px;
  position: absolute;
  right: 26px;
  z-index: 9;
  top: 30px;
  background-image: url('../images/ico.png');
  background-repeat: no-repeat;
  background-position: -109px -166px;
}
.la-my .myleft .list .navbtn a {
  display: block;
  height: 70px;
  line-height: 69px;
  text-align: center;
}
.la-my .myleft .list .navbtn a span {
  display: block;
  margin: 0px 26px;
  border-bottom: 1px solid #efefef;
  color: #333333;
}
.la-my .myleft .list .navbtn:last-child a span {
  border-bottom: none;
}
.la-my .myleft .list .navbtn.on > a span {
  color: #06ade1;
}
.la-my .myright .mbx {
  line-height: 67px;
  border: 1px solid #eeeeee;
  color: #333333;
  background: #ffffff;
  margin-bottom: -1px;
  border-top: 2px solid #06ade1;
  padding: 0px 25px;
}
.la-my .myright .topcontent {
  background: #fff;
  margin-bottom: 7px;
  border: 1px solid #eeeeee;
}
.la-my .myright .topcontent .warp {
  padding: 0px 24px;
}
.la-my .myright .topcontent .warp .mytop {
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 800px;
}
.page-list {
  text-align: center;
  padding: 10px 0px;
}
.page-list a {
  display: inline-block;
  padding: 2px 10px;
  border: 1px solid #fff;
  border-radius: 3px;
}
.page-list a.num {
  border: 1px solid #dddddd;
}
.page-list a.num.on {
  border: 1px solid #f39913;
  background: #f39913;
  color: #fff;
}
.tabview .contant {
  min-height: 200px;
  background: #fff;
  min-height: 850px;
}
.tabview .contant .tables {
  margin-top: 20px;
}
.tabview .contant .tables .tr {
  *zoom: 1;
  overflow: hidden;
  margin: 0px 4px;
  text-align: center;
  color: #333333;
}
.tabview .contant .tables .tr:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.tabview .contant .tables .tr .td {
  float: left;
  width: 33.33%;
  line-height: 60px;
  height: 60px;
  border-bottom: 1px solid #eeeeee;
}
.tabview .contant .tables .tr:last-child .td {
  border-bottom: none;
}
.tabview .contant .tables .tr.th {
  background: #f5f8fd;
}
.tabview .contant .tables .tr.th .td {
  color: #333333;
  border-bottom: none;
  line-height: 55px;
  height: 55px;
  overflow: hidden;
}
.tabview .contant .tabcontent {
  display: none;
}
.tabview .contant .tabcontent .warpper {
  color: #666666;
  padding: 8px 15px;
  overflow: hidden;
  position: relative;
  *zoom: 1;
}
.tabview .contant .tabcontent .warpper:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.tabview .contant .tabcontent .warpper .my_list_top {
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
}
.tabview .contant .tabcontent .warpper .my_list_top .bar {
  padding-bottom: 10px;
}
.tabview .contant .tabcontent .warpper .my_list_top span {
  display: inline-block;
  line-height: 34px;
}
.tabview .contant .tabcontent .warpper .my_list_top span.box {
  display: inline-block;
  margin-right: 10px;
}
.tabview .contant .tabcontent .warpper .my_list_top span.sidetitle {
  width: 120px;
  text-align: right;
  padding-left: 10px;
}
.tabview .contant .tabcontent .warpper .my_list_top select {
  border: 1px solid #dddddd;
  height: 36px;
  padding: 0px 10px;
}
.tabview .contant .tabcontent .warpper .my_list_top input.text {
  width: 160px;
  border: 1px solid #dddddd;
  height: 34px;
  padding: 0px 10px;
}
.tabview .contant .tabcontent .warpper .my_list_top input.time {
  width: 120px;
  border: 1px solid #dddddd;
  height: 34px;
  padding: 0px 10px;
  background: url('../images/ico.png') no-repeat right -113px;
}
.tabview .contant .tabcontent .warpper .my_list_top input.subBut {
  display: inline-block;
  background: #06ade1;
  line-height: 35px;
  padding: 0px 20px;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
.tabview .contant .tabcontent .warpper .my_list_top input.subBut:hover {
  background: #0587af;
}
.tabview .contant .tabcontent .warpper .my_list_top input.retBut {
  display: inline-block;
  background: #f39913;
  line-height: 35px;
  padding: 0px 20px;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
.tabview .contant .tabcontent .warpper .my_list_top input.retBut:hover {
  background: #c97c0a;
}
.tabview .contant .tabcontent .warpper .my_list_bottom table {
  line-height: 30px;
}
.tabview .contant .tabcontent .warpper .my_list_bottom table tr td {
  border-bottom: 1px dotted #efefef;
  padding: 15px 5px;
  *zoom: 1;
  font-size: 14px;
}
.tabview .contant .tabcontent .warpper .my_list_bottom table tr td:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.tabview .contant .tabcontent .warpper .my_list_bottom table tr td a.tit {
  display: inline-block;
  width: 130px;
  line-height: 30px;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tabview .contant .tabcontent .warpper .my_list_bottom table tr td .myspeed {
  width: 102px;
  height: 36px;
  display: block;
  margin: 0px auto;
  margin-top: 10%;
  font-size: 12px;
}
.tabview .contant .tabcontent .warpper .my_list_bottom table tr td .myspeed .smalls {
  line-height: 20px;
  display: block;
}
.tabview .contant .tabcontent .warpper .my_list_bottom table tr td .myspeed .barbox {
  width: 100px;
  height: 10px;
  display: block;
  border: 1px solid #f39913;
  overflow: hidden;
  border-radius: 10px;
}
.tabview .contant .tabcontent .warpper .my_list_bottom table tr td .myspeed .barbox span {
  height: 10px;
  width: 50px;
  background: #f39913;
  display: block;
  border-radius: 0px 10px 10px 0px;
}
.tabview .contant .tabcontent .warpper .my_list_bottom table tr td .myspeed {
  margin-top: 0px;
  text-align: center;
}
.tabview .contant .tabcontent .warpper .my_list_bottom table tr td span.mack {
  color: #06ade1;
}
.tabview .contant .tabcontent .warpper .my_list_bottom table th {
  background: #fbfbfb;
  border-bottom: 1px dotted #efefef;
  padding: 15px 5px;
}
.tabview .contant .tabcontent .warpper .my_list_bottom .center {
  text-align: center;
}
.tabview .contant .tabcontent .warpper .my_list_bottom table tr td {
  border-bottom: 1px dotted #efefef;
  padding: 5px 0px;
  font-size: 14px;
}
.tabview .contant .info {
  padding: 20px 40px;
}
