/***********************************************************************重置样式开始**********************************************************/
html {
  background: #ffffff;
  color: #333333;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}
body,
input,
textarea,
button,
select,
pre,
tt,
code,
kbd,
samp,
optgroup,
option {
  line-height: 1.5;
  font-family: 'Microsoft YaHei', arial, 'Hiragino Sans GB', '\5fae\8f6f\96c5\9ed1', '\5b8b\4f53', arial, verdana, helvetica, sans-serif;
}
body,
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td,
pre,
xmp {
  margin: 0;
  padding: 0;
  font-weight: 100;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}
caption,
th {
  text-align: inherit;
}
ul,
ol,
menu {
  list-style: none;
}
fieldset,
img {
  border: none;
}
img,
object,
input,
textarea,
button,
select {
  vertical-align: top;
}
article,
aside,
footer,
header,
section,
nav,
figure,
figcaption,
hgroup,
details,
menu {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
button,
select,
small {
  font-size: 100%;
}
address,
cite,
dfn,
em,
i,
optgroup,
var {
  font-style: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}
textarea {
  overflow: auto;
  resize: none;
}
textarea,
input {
  outline: none;
}
mark {
  background-color: #06ade1;
}
ins,
s,
u,
del {
  text-decoration: none;
}
a {
  color: #333333;
  text-decoration: none;
  outline: none;
}
a:hover {
  color: #06ade1;
  text-decoration: none;
}
button {
  border: 0 none;
}
input[disabled] {
  background: #ececec;
  color: #cccccc;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #aaaaaa;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #aaaaaa;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #aaaaaa;
}
::-ms-reveal {
  display: none;
}
:focus {
  -moz-outline-style: none;
}
button::-moz-focus-inner {
  border: none;
}
button:focus {
  outline-style: none;
}
/* for Firefox，IE8.0等 */
/*清除浮动*/
.hidden {
  overflow: hidden;
}
/***********************************************************************主体框架样式开始**********************************************************/
.box .header {
  background: #ffffff;
  width: 100%;
  height: 145px;
}
.box .header .erweima {
  position: absolute;
  width: 100px;
  height: 103px;
  background: url('../images/erweimabg.png') no-repeat 0px 0px;
  right: -32px;
  top: -103px;
  opacity: 0.3;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
.box .header .erweima.on {
  top: 38px;
  opacity: 1;
}
.box .header .erweima img {
  width: 94px;
  display: block;
  margin: 0px auto;
  margin-top: 6px;
}
.box .header .hhead {
  width: 100%;
  height: 45px;
  background: #494949;
  color: #ffffff;
}
.box .header .hhead .content {
  margin: auto;
  width: 1132px;
  height: 45px;
  *zoom: 1;
}
.box .header .hhead .content:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.box .header .hhead .content .l {
  float: left;
  line-height: 45px;
}
.box .header .hhead .content .l span {
  padding: 0px 5px;
}
.box .header .hhead .content .r {
  font-size: 18px;
  float: right;
  line-height: 45px;
  text-align: right;
  width: 500px;
  position: relative;
  z-index: 10;
  *zoom: 1;
}
.box .header .hhead .content .r:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.box .header .hhead .content .r div {
  float: right;
  *zoom: 1;
  margin-left: 20px;
}
.box .header .hhead .content .r div:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.box .header .hhead .content .r div .ico {
  background-image: url('../images/ico.png');
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  float: left;
  display: block;
  margin-top: 7px;
}
.box .header .hhead .content .r div .ico.phone {
  background-position: -4px 1px;
}
.box .header .hhead .content .r div .ico.tentsnt {
  background-position: -39px 2px;
}
.box .header .hhead .content .r div .ico.weixin {
  background-position: -76px 2px;
  cursor: pointer;
}
.box .header .hhead a {
  color: #ffffff;
}
.box .header .hhead a:hover {
  color: #06ade1;
}
.box .header .hbody {
  width: 1132px;
  height: 100px;
  position: relative;
  z-index: 9;
  margin: auto;
  *zoom: 1;
}
.box .header .hbody:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.box .header .hbody h1 {
  *zoom: 1;
  float: left;
}
.box .header .hbody h1:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.box .header .hbody h1.logo {
  height: 100px;
}
.box .header .hbody h1 img {
  display: block;
  height: 100px;
  float: left;
}
.box .header .hbody > ul {
  *zoom: 1;
  margin-top: 30px;
}
.box .header .hbody > ul:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.box .header .hbody > ul.nav {
  font-size: 18px;
  float: right;
}
.box .header .hbody > ul.nav > li {
  float: left;
  position: relative;
  z-index: 9;
}
.box .header .hbody > ul.nav > li > a {
  display: inline-block;
  height: 37px;
  line-height: 37px;
  padding: 0px 10px;
  margin-left: 20px;
  border-radius: 5px;
}
.box .header .hbody > ul.nav > li > a:hover {
  color: #ffffff;
  background: rgba(73, 73, 73, 0.9);
}
.box .header .hbody > ul.nav > li > a:hover .down_img {
  border-top: 4px solid #ffffff;
}
.box .header .hbody > ul.nav > li > a.on {
  color: #ffffff;
  background: rgba(73, 73, 73, 0.9);
}
.box .header .hbody > ul.nav > li > a.on .down_img {
  border-top: 4px solid #ffffff;
}
.box .header .hbody > ul.nav > li .nav-dropdown {
  position: absolute;
  padding-left: 20px;
  width: 110px;
  display: none;
}
.box .header .hbody > ul.nav > li .nav-dropdown ul {
  border-radius: 0px 0px 5px 5px;
  margin-top: -2px;
  border-top: 1px solid #dedede;
  background: rgba(73, 73, 73, 0.9);
  font-size: 14px;
}
.box .header .hbody > ul.nav > li .nav-dropdown ul li a {
  margin-left: 0px;
  display: block;
  color: #ffffff;
  line-height: 38px;
  text-align: center;
}
.box .header .hbody > ul.nav > li .nav-dropdown ul li a:hover {
  color: #06ade1;
}
.box .container {
  min-height: 500px;
}
.box .footer {
  background: #494949;
  padding: 50px 0px;
  color: #a9a9a9;
  font-size: 14px;
  margin-top: 30px;
}
.box .footer a {
  color: #a9a9a9;
}
.box .footer .warper {
  width: 1132px;
  height: auto;
  margin: auto;
  *zoom: 1;
}
.box .footer .warper:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.box .footer .warper .left {
  float: left;
  width: 566px;
}
.box .footer .warper .left .content {
  padding-right: 100px;
}
.box .footer .warper .left .footnav {
  padding-bottom: 12px;
}
.box .footer .warper .left .footnav span {
  padding: 0px 5px;
}
.box .footer .warper .left .footnav a:hover {
  color: #06ade1;
}
.box .footer .warper .left p {
  padding-bottom: 12px;
}
.box .footer .warper .left p img {
  display: inline-block;
  margin-right: 5px;
}
.box .footer .warper .right {
  float: left;
  width: 564px;
  border-left: 2px solid #626262;
}
.box .footer .warper .right .content {
  padding-left: 100px;
  min-height: 120px;
}
.box .footer .warper .right .content .telbox {
  width: 350px;
  height: 80px;
  *zoom: 1;
  margin-bottom: 20px;
}
.box .footer .warper .right .content .telbox:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.box .footer .warper .right .content .telbox .ico {
  width: 90px;
  height: 80px;
  background-image: url('../images/ico.png');
  background-repeat: no-repeat;
  background-position: -8px -298px;
  float: left;
}
.box .footer .warper .right .content .telbox .contentbox {
  font-size: 27px;
  float: left;
  height: 80px;
  overflow: hidden;
  margin-left: 10px;
}
.box .footer .warper .right .content .telbox .contentbox .tel {
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;
}
.box .footer .warper .right .content .address {
  *zoom: 1;
  width: 280px;
  margin-bottom: 10px;
}
.box .footer .warper .right .content .address:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.box .footer .warper .right .content .address .title {
  float: left;
  height: 28px;
}
/*过渡样式*/
a {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/*三角*/
.underline {
  text-decoration: underline;
}
.underline:hover {
  text-decoration: underline;
}
.xinghao {
  color: #06ade1;
}
input.text {
  width: 160px;
  border: 1px solid #dddddd;
  height: 34px;
  padding: 0px 10px;
}
input.time {
  width: 120px;
  border: 1px solid #dddddd;
  height: 34px;
  padding: 0px 10px;
  background: url('../images/ico.png') no-repeat right -113px;
}
input.subBut {
  display: inline-block;
  background: #06ade1;
  line-height: 35px;
  padding: 0px 20px;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
input.subBut:hover {
  background: #0587af;
}
input.retBut {
  display: inline-block;
  background: #f39913;
  line-height: 35px;
  padding: 0px 20px;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
input.retBut:hover {
  background: #c97c0a;
}
.bottonbox {
  margin-top: 10px;
  padding: 20px 0px;
  text-align: center;
}
.bottonbox.subBut {
  display: inline-block;
  background: #06ade1;
  line-height: 35px;
  padding: 0px 20px;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
.bottonbox.subBut:hover {
  background: #0587af;
}
.bottonbox.retBut {
  display: inline-block;
  margin-right: 10px;
  background: #f39913;
  line-height: 35px;
  padding: 0px 20px;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
.bottonbox.retBut:hover {
  background: #c97c0a;
}
/*信用等级*/
span.samllmark {
  font-size: 12px;
}
span.dj {
  width: 45px;
  height: 24px;
  background: #73c343;
  display: inline-block;
  text-align: center;
  line-height: 24px;
  font-size: 16px;
  color: #fff;
  border-radius: 12px;
}
span.e {
  background: #06ade1;
}
/*ICO*/
.icobxo i {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #f5f5f5;
  margin-right: 20px;
  background-image: url('../images/ico.png');
  background-position: 0px -213px;
  cursor: pointer;
}
.icobxo i.tx {
  background-position: 0px -213px;
}
.icobxo i.tx:hover,
.icobxo i.tx.on {
  background-color: #c3e9ff;
  background-position: 0px -248px;
}
.icobxo i.suo {
  background-position: -35px -213px;
}
.icobxo i.suo:hover {
  background-color: #c3e9ff;
  background-position: -35px -248px;
}
.icobxo i.sj {
  background-position: -70px -213px;
}
.icobxo i.sj:hover {
  background-color: #c3e9ff;
  background-position: -70px -248px;
}
.icobxo i.xx {
  background-position: -105px -213px;
}
.icobxo i.xx:hover {
  background-color: #c3e9ff;
  background-position: -105px -248px;
}
.mbx {
  padding: 5px 25px;
}
.mbx a {
  color: #333333;
  padding: 0px 0px;
}
.mbx a:hover {
  color: #06ade1;
}
.loding {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000000;
  top: 0px;
  left: 0px;
  z-index: 1003;
  filter: alpha(opacity=50);
  -ms-filter: progid:DXImageTransform._Microsoft._Alpha(Opacity=50);
  opacity: 0.5;
}
.loding .loginding {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -8px;
}
.show {
  display: block;
}
.down_img {
  display: inline-block;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top: 4px solid #666;
  margin-top: -10px;
  margin-left: 4px;
  *margin-top: -16px;
}
.show {
  display: block;
}
.xjq {
  width: 266px;
  height: 92px;
  background: url('../images/xjq.png');
  position: relative;
  margin: 20px auto;
}
.xjq .xjbox {
  height: 46px;
  *zoom: 1;
  line-height: 46px;
  color: #ffffff;
}
.xjq .xjbox:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.xjq .xjbox .l {
  float: left;
  padding-left: 20px;
  font-size: 18px;
}
.xjq .xjbox .l span {
  font-size: 30px;
}
.xjq .xjbox .l span.m {
  font-size: 14px;
  line-height: 20px;
}
.xjq .xjbox .r {
  color: #f8f506;
  float: right;
  padding-right: 20px;
}
.xjq .xjbox.bs {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  text-align: center;
}
.xjq .xjbox.bs .l {
  font-size: 14px;
}
.redbox {
  *zoom: 1;
}
.redbox:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.redbox .redboxdiv {
  width: 99px;
  margin: 0px auto;
  height: 134px;
  position: relative;
  background: url('../images/redbox.png') no-repeat 0px 0px;
}
.redbox .redboxdiv .meny {
  width: 74px;
  height: 74px;
  position: absolute;
  left: 15px;
  text-align: center;
  color: #ee0000;
  top: 36px;
  font-size: 25px;
  line-height: 28px;
  margin-top: 10px;
}
.redbox p {
  font-size: 18px;
  margin-left: 10px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.redbox p span {
  color: #06ade1;
}
.redbox p a {
  color: #06ade1;
}
.xianjinaquan p {
  font-size: 18px;
  margin-left: 10px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.xianjinaquan p span {
  color: #06ade1;
}
.xianjinaquan p a {
  color: #06ade1;
}
.btnlist {
  padding-top: 20px;
}
.btnlist input {
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  padding-left: 30px;
  border-radius: 3px;
  padding-right: 30px;
  color: #ffffff;
  background: #06ade1;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
}
.btnlist input:hover {
  background: #0587af;
}
.text-center {
  text-align: center;
}
.link {
  color: #06ade1;
}
.page-list {
  text-align: center;
  padding: 10px 0px;
}
.page-list a {
  display: inline-block;
  padding: 2px 10px;
  border: 1px solid #fff;
  border-radius: 3px;
}
.page-list a.num {
  border: 1px solid #dddddd;
}
.page-list a.num.on {
  border: 1px solid #f39913;
  background: #f39913;
  color: #fff;
}
