/*
*2015
*个人中心
*zxd
*/
body {
  background: #f2f2f2;
}
.header {
  box-shadow: 0px 1px 10px #c8c8c8;
}
.la-my {
  width: 1132px;
  margin: 0px auto;
  margin-top: 20px;
  *zoom: 1;
}
.la-my:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.la-my .myleft {
  float: left;
  width: 214px;
  overflow: hidden;
  margin-right: 7px;
}
.la-my .myright {
  float: left;
  width: 911px;
  overflow: hidden;
  margin-right: 0px;
}
.la-my {
  margin-bottom: 40px;
}
.la-my .page-list {
  text-align: center;
  padding: 10px 0px;
}
.la-my .page-list a {
  display: inline-block;
  padding: 2px 10px;
  border: 1px solid #fff;
  border-radius: 3px;
}
.la-my .page-list a.num {
  border: 1px solid #dddddd;
}
.la-my .page-list a.num.on {
  border: 1px solid #f39913;
  background: #f39913;
  color: #fff;
}
.la-my .myleft .index {
  height: 70px;
  text-align: center;
  background: #06ade1;
  color: #fff;
  display: block;
  line-height: 70px;
  border-radius: 3px 0px 0px 0px;
}
.la-my .myleft .list {
  border-radius: 0px 0px 0px 3px;
  border: 1px solid #eeeeee;
  border-top: none;
  overflow: hidden;
}
.la-my .myleft .list .navbtn {
  background: #fbfbfb;
  position: relative;
}
.la-my .myleft .list .navbtn i {
  display: block;
  width: 14px;
  height: 14px;
  position: absolute;
  right: 26px;
  z-index: 9;
  top: 30px;
  background-image: url('../images/ico.png');
  background-repeat: no-repeat;
  background-position: -109px -166px;
}
.la-my .myleft .list .navbtn a {
  display: block;
  height: 70px;
  line-height: 69px;
  text-align: center;
}
.la-my .myleft .list .navbtn a span {
  display: block;
  margin: 0px 26px;
  border-bottom: 1px solid #efefef;
  color: #333333;
}
.la-my .myleft .list .navbtn:last-child a span {
  border-bottom: none;
}
.la-my .myleft .list .navbtn .childlist {
  display: none;
}
.la-my .myleft .list .navbtn .childlist a {
  display: block;
  background: #f2f2f2;
  height: 49px;
  line-height: 49px;
  text-align: center;
}
.la-my .myleft .list .navbtn .childlist a span {
  display: block;
  margin: 0px 26px;
  padding-left: 50px;
  height: 48px;
  border-bottom: 1px dotted #e4e4e4;
  text-align: left;
  font-size: 13px;
  color: #666666;
}
.la-my .myleft .list .navbtn .childlist a:last-child span {
  border-bottom: none;
}
.la-my .myleft .list .navbtn .childlist a:hover,
.la-my .myleft .list .navbtn .childlist a.on {
  background: #caecff;
}
.la-my .myleft .list .navbtn .childlist a:hover span,
.la-my .myleft .list .navbtn .childlist a.on span {
  color: #333333;
}
.la-my .myleft .list .navbtn.on i {
  background-position: -109px -180px;
}
.la-my .myleft .list .navbtn.on > a span {
  color: #06ade1;
}
.la-my .myright .mbx {
  line-height: 67px;
  border-bottom: 1px solid #eeeeee;
  color: #333333;
  background: #ffffff;
  margin-bottom: -1px;
  border-top: 2px solid #06ade1;
  padding: 0px 25px;
}
.la-my .myright .tabview .tab {
  height: 60px;
  *zoom: 1;
  background: #fbfbfb;
  margin-bottom: -1px;
  border-top: 1px solid #efefef;
}
.la-my .myright .tabview .tab:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.la-my .myright .tabview .tab a {
  display: block;
  float: left;
  line-height: 59px;
  padding: 0px 15px;
  text-align: center;
  border-right: 1px solid #efefef;
  background: #fbfbfb;
  color: #999999;
}
.la-my .myright .tabview .tab a:hover {
  color: #333333;
}
.la-my .myright .tabview .tab a.on {
  background: #fff;
  border-bottom: 1px solid #fff;
}
.la-my .myright .tabview .tab a.last {
  border-right: none;
}
.la-my .myright .tabview .contant {
  border-top: 1px solid #efefef;
  min-height: 200px;
  background: #fff;
  min-height: 850px;
}
.la-my .myright .tabview .contant .tables {
  margin-top: 20px;
}
.la-my .myright .tabview .contant .tables .tr {
  *zoom: 1;
  overflow: hidden;
  margin: 0px 4px;
  text-align: center;
  color: #333333;
}
.la-my .myright .tabview .contant .tables .tr:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.la-my .myright .tabview .contant .tables .tr .td {
  float: left;
  width: 33.33%;
  line-height: 60px;
  height: 60px;
  border-bottom: 1px solid #eeeeee;
}
.la-my .myright .tabview .contant .tables .tr:last-child .td {
  border-bottom: none;
}
.la-my .myright .tabview .contant .tables .tr.th {
  background: #f5f8fd;
}
.la-my .myright .tabview .contant .tables .tr.th .td {
  color: #333333;
  border-bottom: none;
  line-height: 55px;
  height: 55px;
  overflow: hidden;
}
.la-my .myright .tabview .contant .tabcontent {
  display: none;
}
.la-my .myright .tabview .contant .tabcontent .warpper {
  color: #666666;
  padding: 8px 15px;
  overflow: hidden;
  position: relative;
  *zoom: 1;
}
.la-my .myright .tabview .contant .tabcontent .warpper .msg {
  padding: 20px 40px 0px 40px;
  background: #f5f8fd;
  font-size: 14px;
}
.la-my .myright .tabview .contant .tabcontent .warpper .msg p {
  padding-bottom: 15px;
}
.la-my .myright .tabview .contant .tabcontent .warpper .my_list_bottom {
  padding: 20px 40px 0px 40px;
}
.la-my .myright .tabview .contant .tabcontent .warpper:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.la-my .myright .tabview .contant .tabcontent .warpper .my_list_bottom .title {
  border-bottom: 1px solid #efefef;
  line-height: 40px;
  color: #06ade1;
}
.la-my .myright .tabview .contant .tabcontent .warpper .my_list_bottom table {
  line-height: 30px;
}
.la-my .myright .tabview .contant .tabcontent .warpper .my_list_bottom table tr td {
  border-bottom: 1px dotted #efefef;
  padding: 5px;
  *zoom: 1;
  font-size: 14px;
}
.la-my .myright .tabview .contant .tabcontent .warpper .my_list_bottom table tr td:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.la-my .myright .tabview .contant .tabcontent .warpper .my_list_bottom table tr td .myspeed {
  width: 102px;
  height: 36px;
  display: block;
  margin: 0px auto;
  margin-top: 10%;
  font-size: 12px;
}
.la-my .myright .tabview .contant .tabcontent .warpper .my_list_bottom table tr td .myspeed .smalls {
  line-height: 20px;
  display: block;
}
.la-my .myright .tabview .contant .tabcontent .warpper .my_list_bottom table tr td .myspeed .barbox {
  width: 100px;
  height: 10px;
  display: block;
  border: 1px solid #f39913;
  overflow: hidden;
  border-radius: 10px;
}
.la-my .myright .tabview .contant .tabcontent .warpper .my_list_bottom table tr td .myspeed .barbox span {
  height: 10px;
  width: 50px;
  background: #f39913;
  display: block;
  border-radius: 0px 10px 10px 0px;
}
.la-my .myright .tabview .contant .tabcontent .warpper .my_list_bottom table tr td .myspeed {
  margin-top: 0px;
  text-align: center;
}
.la-my .myright .tabview .contant .tabcontent .warpper .my_list_bottom table tr td label {
  *zoom: 1;
}
.la-my .myright .tabview .contant .tabcontent .warpper .my_list_bottom table tr td label:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.la-my .myright .tabview .contant .tabcontent .warpper .my_list_bottom table tr td label input {
  float: left;
  margin-top: 10px;
  margin-right: 10px;
}
.la-my .myright .tabview .contant .tabcontent .warpper .my_list_bottom table tr td span.mack {
  color: #06ade1;
}
.la-my .myright .tabview .contant .tabcontent .warpper .my_list_bottom table th {
  background: #fbfbfb;
  border-bottom: 1px dotted #efefef;
  padding: 15px 5px;
}
.la-my .myright .tabview .contant .tabcontent .warpper .my_list_bottom .center {
  text-align: center;
}
.la-my .myright .tabview .contant .info {
  padding: 20px 40px;
}
