/*element样式*/
/*按钮*/
/*公共样式*/
.box {
  position: relative;
  min-height: 100%;
  _height: 100%;
}
.box .article-new {
  position: absolute;
  padding-left: 4px;
  top: 6px;
  animation: Beat 1s infinite;
  -webkit-animation: Beat 1s infinite;
  -moz-animation: Beat 1s infinite;
  -o-animation: Beat 1s infinite;
}
/*header*/
/*私有样式*/
.box {
  position: relative;
  min-height: 100%;
  _height: 100%;
}
/*过渡样式*/
a {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.underline {
  text-decoration: underline;
}
.underline:hover {
  text-decoration: underline;
}
.xinghao {
  color: #ff6c00;
}
input.text {
  width: 160px;
  border: 1px solid #dddddd;
  height: 34px;
  padding: 0px 10px;
}
input.time {
  width: 120px;
  border: 1px solid #dddddd;
  height: 34px;
  padding: 0px 10px;
  background: url('../images/ico.png') no-repeat right -113px;
}
input.subBut {
  display: inline-block;
  background: #ff6c00;
  line-height: 35px;
  padding: 0px 20px;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
input.subBut:hover {
  background: #cc5600;
}
input.retBut {
  display: inline-block;
  background: #f39913;
  line-height: 35px;
  padding: 0px 20px;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
input.retBut:hover {
  background: #c97c0a;
}
.bottonbox {
  margin-top: 10px;
  padding: 20px 0px;
  text-align: center;
}
.bottonbox.subBut {
  display: inline-block;
  background: #ff6c00;
  line-height: 35px;
  padding: 0px 20px;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
.bottonbox.subBut:hover {
  background: #cc5600;
}
.bottonbox.retBut {
  display: inline-block;
  margin-right: 10px;
  background: #f39913;
  line-height: 35px;
  padding: 0px 20px;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
.bottonbox.retBut:hover {
  background: #c97c0a;
}
/*信用等级*/
span.samllmark {
  font-size: 12px;
}
span.dj {
  width: 45px;
  height: 24px;
  background: #73c343;
  display: inline-block;
  text-align: center;
  line-height: 24px;
  font-size: 16px;
  color: #fff;
  border-radius: 12px;
}
span.e {
  background: #ff6c00;
}
.mbx {
  padding: 5px 25px;
}
.mbx a {
  color: #4c4c4c;
  padding: 0px 0px;
}
.mbx a:hover {
  color: #ff6c00;
}
/*
*2015
*个人中心
*zxd
*/
body {
  background: #f2f2f2;
}
.header {
  box-shadow: 0px 1px 10px #c8c8c8;
}
.la-my {
  width: 1132px;
  margin: 0px auto;
  margin-top: 20px;
  *zoom: 1;
}
.la-my:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.la-my .myleft {
  float: left;
  width: 214px;
  overflow: hidden;
  margin-right: 7px;
}
.la-my .myright {
  float: left;
  width: 911px;
  overflow: hidden;
  margin-right: 0px;
}
.la-my {
  margin-bottom: 40px;
}
.la-my .myleft .index {
  height: 70px;
  text-align: center;
  background: #ff6c00;
  color: #fff;
  display: block;
  line-height: 70px;
  border-radius: 3px 0px 0px 0px;
}
.la-my .myleft .list {
  border-radius: 0px 0px 0px 3px;
  border: 1px solid #eeeeee;
  border-top: none;
  overflow: hidden;
}
.la-my .myleft .list .navbtn {
  background: #fbfbfb;
  position: relative;
}
.la-my .myleft .list .navbtn i {
  display: block;
  width: 14px;
  height: 14px;
  position: absolute;
  right: 26px;
  z-index: 9;
  top: 30px;
  background-image: url('../images/ico.png');
  background-repeat: no-repeat;
  background-position: -109px -166px;
}
.la-my .myleft .list .navbtn a {
  display: block;
  height: 70px;
  line-height: 69px;
  text-align: center;
}
.la-my .myleft .list .navbtn a span {
  display: block;
  margin: 0px 26px;
  border-bottom: 1px solid #efefef;
  color: #4c4c4c;
}
.la-my .myleft .list .navbtn:last-child a span {
  border-bottom: none;
}
.la-my .myleft .list .navbtn.on > a span {
  color: #ff6c00;
}
.la-my .myleft .list .navbtn:hover > a span {
  color: #ff6c00;
}
.la-my .myright .mbx {
  line-height: 67px;
  border: 1px solid #eeeeee;
  color: #4c4c4c;
  background: #ffffff;
  margin-bottom: -1px;
  border-top: 2px solid #ff6c00;
  padding: 0px 25px;
}
.la-my .myright .topcontent {
  background: #fff;
  margin-bottom: 7px;
  border: 1px solid #eeeeee;
}
.la-my .myright .topcontent .warp {
  padding: 0px 24px;
}
.la-my .myright .topcontent .warp .mytop {
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 800px;
}
