/*element样式*/
/*按钮*/
/*公共样式*/
.box {
  position: relative;
  min-height: 100%;
  _height: 100%;
}
.box .article-new {
  position: absolute;
  padding-left: 4px;
  top: 6px;
  animation: Beat 1s infinite;
  -webkit-animation: Beat 1s infinite;
  -moz-animation: Beat 1s infinite;
  -o-animation: Beat 1s infinite;
}
/*header*/
/*私有样式*/
.box {
  position: relative;
  min-height: 100%;
  _height: 100%;
}
/*过渡样式*/
a {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.underline {
  text-decoration: underline;
}
.underline:hover {
  text-decoration: underline;
}
.xinghao {
  color: #ff6c00;
}
input.text {
  width: 160px;
  border: 1px solid #dddddd;
  height: 34px;
  padding: 0px 10px;
}
input.time {
  width: 120px;
  border: 1px solid #dddddd;
  height: 34px;
  padding: 0px 10px;
  background: url('../images/ico.png') no-repeat right -113px;
}
input.subBut {
  display: inline-block;
  background: #ff6c00;
  line-height: 35px;
  padding: 0px 20px;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
input.subBut:hover {
  background: #cc5600;
}
input.retBut {
  display: inline-block;
  background: #f39913;
  line-height: 35px;
  padding: 0px 20px;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
input.retBut:hover {
  background: #c97c0a;
}
.bottonbox {
  margin-top: 10px;
  padding: 20px 0px;
  text-align: center;
}
.bottonbox.subBut {
  display: inline-block;
  background: #ff6c00;
  line-height: 35px;
  padding: 0px 20px;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
.bottonbox.subBut:hover {
  background: #cc5600;
}
.bottonbox.retBut {
  display: inline-block;
  margin-right: 10px;
  background: #f39913;
  line-height: 35px;
  padding: 0px 20px;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
.bottonbox.retBut:hover {
  background: #c97c0a;
}
/*信用等级*/
span.samllmark {
  font-size: 12px;
}
span.dj {
  width: 45px;
  height: 24px;
  background: #73c343;
  display: inline-block;
  text-align: center;
  line-height: 24px;
  font-size: 16px;
  color: #fff;
  border-radius: 12px;
}
span.e {
  background: #ff6c00;
}
.mbx {
  padding: 5px 25px;
}
.mbx a {
  color: #4c4c4c;
  padding: 0px 0px;
}
.mbx a:hover {
  color: #ff6c00;
}
/*
*2015
*个人中心
*zxd
*/
body {
  background: #f2f2f2;
}
.header {
  box-shadow: 0px 1px 10px #c8c8c8;
}
.la-my {
  width: 1132px;
  margin: 0px auto;
  margin-top: 20px;
  *zoom: 1;
}
.la-my:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.la-my .myleft {
  float: left;
  width: 214px;
  overflow: hidden;
  margin-right: 7px;
}
.la-my .myright {
  float: left;
  width: 911px;
  overflow: hidden;
  margin-right: 0px;
}
.la-my {
  margin-bottom: 40px;
}
.la-my .page-list {
  text-align: center;
  padding: 10px 0px;
}
.la-my .page-list a {
  display: inline-block;
  padding: 2px 10px;
  border: 1px solid #fff;
  border-radius: 3px;
}
.la-my .page-list a.num {
  border: 1px solid #dddddd;
}
.la-my .page-list a.num.on {
  border: 1px solid #f39913;
  background: #f39913;
  color: #fff;
}
.la-my .myleft .index {
  height: 70px;
  text-align: center;
  background: #ff6c00;
  color: #fff;
  display: block;
  line-height: 70px;
  border-radius: 3px 0px 0px 0px;
}
.la-my .myleft .list {
  border-radius: 0px 0px 0px 3px;
  border: 1px solid #eeeeee;
  border-top: none;
  overflow: hidden;
}
.la-my .myleft .list .navbtn {
  background: #fbfbfb;
  position: relative;
}
.la-my .myleft .list .navbtn i {
  display: block;
  width: 14px;
  height: 14px;
  position: absolute;
  right: 26px;
  z-index: 9;
  top: 30px;
  background-image: url('../images/ico.png');
  background-repeat: no-repeat;
  background-position: -109px -166px;
}
.la-my .myleft .list .navbtn a {
  display: block;
  height: 70px;
  line-height: 69px;
  text-align: center;
}
.la-my .myleft .list .navbtn a span {
  display: block;
  margin: 0px 26px;
  border-bottom: 1px solid #efefef;
  color: #4c4c4c;
}
.la-my .myleft .list .navbtn:last-child a span {
  border-bottom: none;
}
.la-my .myleft .list .navbtn .childlist {
  display: none;
}
.la-my .myleft .list .navbtn .childlist a {
  display: block;
  background: #f2f2f2;
  height: 49px;
  line-height: 49px;
  text-align: center;
}
.la-my .myleft .list .navbtn .childlist a span {
  display: block;
  margin: 0px 26px;
  padding-left: 50px;
  height: 48px;
  border-bottom: 1px dotted #e4e4e4;
  text-align: left;
  font-size: 13px;
  color: #666666;
}
.la-my .myleft .list .navbtn .childlist a:last-child span {
  border-bottom: none;
}
.la-my .myleft .list .navbtn .childlist a:hover,
.la-my .myleft .list .navbtn .childlist a.on {
  background: #f6f9ef;
}
.la-my .myleft .list .navbtn .childlist a:hover span,
.la-my .myleft .list .navbtn .childlist a.on span {
  color: #4c4c4c;
}
.la-my .myleft .list .navbtn.on i {
  background-position: -109px -180px;
}
.la-my .myleft .list .navbtn.on > a span {
  color: #ff6c00;
}
.la-my .myright .mbx {
  line-height: 67px;
  border-bottom: 1px solid #eeeeee;
  color: #4c4c4c;
  background: #ffffff;
  margin-bottom: -1px;
  border-top: 2px solid #ff6c00;
  padding: 0px 25px;
}
.la-my .myright .tabview .tab {
  height: 60px;
  *zoom: 1;
  background: #fbfbfb;
  margin-bottom: -1px;
  border-top: 1px solid #efefef;
}
.la-my .myright .tabview .tab:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.la-my .myright .tabview .tab a {
  display: block;
  float: left;
  line-height: 59px;
  padding: 0px 15px;
  text-align: center;
  border-right: 1px solid #efefef;
  background: #fbfbfb;
  color: #999999;
}
.la-my .myright .tabview .tab a:hover {
  color: #4c4c4c;
}
.la-my .myright .tabview .tab a.on {
  background: #fff;
  border-bottom: 1px solid #fff;
}
.la-my .myright .tabview .tab a.last {
  border-right: none;
}
.la-my .myright .tabview .contant {
  border-top: 1px solid #efefef;
  min-height: 200px;
  background: #fff;
  min-height: 850px;
}
.la-my .myright .tabview .contant .tables {
  margin-top: 20px;
}
.la-my .myright .tabview .contant .tables .tr {
  *zoom: 1;
  overflow: hidden;
  margin: 0px 4px;
  text-align: center;
  color: #4c4c4c;
}
.la-my .myright .tabview .contant .tables .tr:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.la-my .myright .tabview .contant .tables .tr .td {
  float: left;
  width: 33.33%;
  line-height: 60px;
  height: 60px;
  border-bottom: 1px solid #eeeeee;
}
.la-my .myright .tabview .contant .tables .tr:last-child .td {
  border-bottom: none;
}
.la-my .myright .tabview .contant .tables .tr.th {
  background: #f5f8fd;
}
.la-my .myright .tabview .contant .tables .tr.th .td {
  color: #4c4c4c;
  border-bottom: none;
  line-height: 55px;
  height: 55px;
  overflow: hidden;
}
.la-my .myright .tabview .contant .tabcontent {
  display: none;
}
.la-my .myright .tabview .contant .tabcontent .warpper {
  color: #666666;
  padding: 8px 15px;
  overflow: hidden;
  position: relative;
  *zoom: 1;
}
.la-my .myright .tabview .contant .tabcontent .warpper:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.la-my .myright .tabview .contant .tabcontent .warpper .my_list_top {
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
}
.la-my .myright .tabview .contant .tabcontent .warpper .my_list_top .bar {
  padding-bottom: 10px;
}
.la-my .myright .tabview .contant .tabcontent .warpper .my_list_top span {
  display: inline-block;
  line-height: 34px;
}
.la-my .myright .tabview .contant .tabcontent .warpper .my_list_top span.box {
  display: inline-block;
  margin-right: 10px;
}
.la-my .myright .tabview .contant .tabcontent .warpper .my_list_top span.sidetitle {
  width: 120px;
  text-align: right;
  padding-left: 10px;
}
.la-my .myright .tabview .contant .tabcontent .warpper .my_list_top select {
  border: 1px solid #dddddd;
  height: 36px;
  padding: 0px 10px;
}
.la-my .myright .tabview .contant .tabcontent .warpper .my_list_top input.text {
  width: 160px;
  border: 1px solid #dddddd;
  height: 34px;
  padding: 0px 10px;
}
.la-my .myright .tabview .contant .tabcontent .warpper .my_list_top input.time {
  width: 120px;
  border: 1px solid #dddddd;
  height: 34px;
  padding: 0px 10px;
  background: url('../images/ico.png') no-repeat right -113px;
}
.la-my .myright .tabview .contant .tabcontent .warpper .my_list_top input.subBut {
  display: inline-block;
  background: #ff6c00;
  line-height: 35px;
  padding: 0px 20px;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
.la-my .myright .tabview .contant .tabcontent .warpper .my_list_top input.subBut:hover {
  background: #cc5600;
}
.la-my .myright .tabview .contant .tabcontent .warpper .my_list_top input.retBut {
  display: inline-block;
  background: #f39913;
  line-height: 35px;
  padding: 0px 20px;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
.la-my .myright .tabview .contant .tabcontent .warpper .my_list_top input.retBut:hover {
  background: #c97c0a;
}
.la-my .myright .tabview .contant .tabcontent .warpper .my_list_bottom table {
  line-height: 30px;
}
.la-my .myright .tabview .contant .tabcontent .warpper .my_list_bottom table tr td {
  border-bottom: 1px dotted #efefef;
  padding: 15px 5px;
  *zoom: 1;
  font-size: 14px;
}
.la-my .myright .tabview .contant .tabcontent .warpper .my_list_bottom table tr td:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.la-my .myright .tabview .contant .tabcontent .warpper .my_list_bottom table tr td a.tit {
  display: inline-block;
  width: 130px;
  line-height: 30px;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.la-my .myright .tabview .contant .tabcontent .warpper .my_list_bottom table tr td .myspeed {
  width: 102px;
  height: 36px;
  display: block;
  margin: 0px auto;
  margin-top: 10%;
  font-size: 12px;
}
.la-my .myright .tabview .contant .tabcontent .warpper .my_list_bottom table tr td .myspeed .smalls {
  line-height: 20px;
  display: block;
}
.la-my .myright .tabview .contant .tabcontent .warpper .my_list_bottom table tr td .myspeed .barbox {
  width: 100px;
  height: 10px;
  display: block;
  border: 1px solid #f39913;
  overflow: hidden;
  border-radius: 10px;
}
.la-my .myright .tabview .contant .tabcontent .warpper .my_list_bottom table tr td .myspeed .barbox span {
  height: 10px;
  width: 50px;
  background: #f39913;
  display: block;
  border-radius: 0px 10px 10px 0px;
}
.la-my .myright .tabview .contant .tabcontent .warpper .my_list_bottom table tr td .myspeed {
  margin-top: 0px;
  text-align: center;
}
.la-my .myright .tabview .contant .tabcontent .warpper .my_list_bottom table tr td span.mack {
  color: #ff6c00;
}
.la-my .myright .tabview .contant .tabcontent .warpper .my_list_bottom table th {
  background: #fbfbfb;
  border-bottom: 1px dotted #efefef;
  padding: 15px 5px;
}
.la-my .myright .tabview .contant .tabcontent .warpper .my_list_bottom .center {
  text-align: center;
}
.la-my .myright .tabview .contant .info {
  padding: 20px 40px;
}
