.contains_box {
  padding: 10px;
}
.contains_box .num {
  color: #2e709c;
  font-weight: bold;
}
.contains_box .titleborder {
  border-bottom: 1px solid #ddd;
}
.contains_box h4 {
  color: #2679b5;
}
.contains_box .h2title {
  color: #2679b5;
  font-size: 22px;
}
.contains_box .editorbox {
  margin-top: 10px;
}
.contains_box .icoa {
  display: inline-block;
  margin: 0px 5px;
}
.contains_box .icoa i {
  margin-right: 3px;
}
.contains_box .icoa:hover {
  text-decoration: none;
}
.contains_box .leftbox {
  float: left;
}
.contains_box .toplin {
  margin-top: 20px;
  margin-bottom: 20px;
}
.contains_box .toplin input[type=text] {
  height: 32px;
}
.contains_box .toplin select {
  height: 32px;
}
.contains_box .toplin .leftbox {
  margin-right: 10px;
  margin-bottom: 10px;
}
.contains_box .clear {
  clear: both;
}
.table-list tbody tr {
  cursor: pointer;
}
.table-list tbody tr:nth-child(2n):hover td {
  background: #eeeeee;
}
.table-list tbody tr:hover td {
  background: #eeeeee;
}
.table-list tbody tr.active td {
  background: #ccc!important;
}
.pageh {
  border-bottom: 1px dotted #cccccc;
  margin-bottom: 40px;
}
.pageh h2 {
  margin-top: 0px;
  padding: 10px;
}
input[type=radio] + .lbl::before {
  border-radius: 32px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.navbar .brand {
  padding-top: 0px;
  margin-top: 0px;
}
input[type="text"],
input[type=password],
select {
  border: 1px solid #dddddd;
  height: 34px;
  padding: 0px 10px;
}
.ace-thumbnails > li {
  border: none;
  text-align: center;
  position: relative;
}
.ace-thumbnails > li label {
  height: 160px;
  width: 160px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #ff0000;
  background: url("../img/uppicebg.png");
  border: 1px solid #efefef;
  z-index: 2;
}
.ace-thumbnails > li label input {
  filter: alpha(opacity=0);
  -ms-filter: progid:DXImageTransform._Microsoft._Alpha(Opacity=0);
  opacity: 0;
}
.ace-thumbnails > li .imgpice {
  width: 160px;
  height: 160px;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid #efefef;
  z-index: 1;
}
.ace-thumbnails > li p {
  padding-top: 5px;
}
input[type=checkbox],
input[type=radio] {
  opacity: 1;
  position: static;
}
